<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Humility</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Raleway|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/learning.css">
  <link rel="stylesheet" href="/app.css">

</head>
<body>

  <header>
    <header>
    <data id="username" style="display: none;"><%= username %></data>
    <ul id="header-links">
      <li><a href="/index">Home</a></li>
      <li><a href="/users/<%= username %>/">Dashboard</a></li>
      <li><a href="/logout">Logout</a></li>
      <ul>
        <li id="form-li">
          <form action="/users/<%= username %>/past" method="POST">
            <select name="values" id="dropdown" value="Past Entries">
              <option selected disabled>View Past Entries</option>
              <option value="learning">Love of Learning</option>
              <option value="humility">Humility</option>
              <option value="openness">Openness</option>
              <option value="tolerance">Tolerance</option>
              <option value="generosity">Generosity</option>
              <option value="autonomy">Autonomy</option>
              <option value="honesty">Honesty</option>
            </select>
            <button type="submit"><i class="fa fa-history fa-1x"></i></button>
          </form>
        </li>
      </ul>
    </ul>
  </header>

  <section>
    <h1>Humility</h1>
    <article>The circumstances into which we were born have nothing to do with us; regularly acknowledging one’s good fortune and manifesting this gratefulness in our dealings with others can be seen as measures of humility. Other facets of humility include being willing to step out of the limelight, and also admitting when you are wrong about something.</article>
  </section>
  <hr>
  <form id="question-form" action="/users/<%= username %>/humility/create" method="post">

    <input type="hidden" name="username" value="<%= username %>">

    <div class="question">
      <h3 id="question-1">What three things am I grateful for?
      </h3>
      <textarea form="question-form" id="question-1-textarea" name="answer1" cols="50" rows="6" placeholder=""></textarea>
      <input type="hidden" name="question1" value="What three things am I grateful for?">
        <div class="past-answers">
          <h4>Previous Entries</h4>
            <% rows.forEach(function (row) { %>
            <% if (row.answer1 === '') { %>
                <p>nothin</p>
            <% } else { %>
                <p><%= row.timestamp %>: <%= row.answer1 %></p>
            <% } %>
          <% }) %>
        </div>
        <p class="next-question">next question</p>
    </div>

    <div class="question">
      <h3 id="question-2">Recall one time when I either did or said something out of the desire for recognition — how did I feel afterwards?
      </h3>
      <textarea form="question-form" id="question-2-textarea" name="answer2" cols="50" rows="6" placeholder=""></textarea>
      <input type="hidden" name="question2" value="Recall one time when I either did or said something out of the desire for recognition — how did I feel afterwards?">
      <div class="past-answers">
        <h4>Previous Entries</h4>
          <% rows.forEach(function (row) { %>
            <% if (row.answer2 === '') { %>
                <p></p>
            <% } else { %>
                <p><%= row.timestamp %>: <%= row.answer2 %></p>
            <% } %>
          <% }) %>
      </div>
      <p class="next-question">next question</p>
    </div>
    
    <div class="question">
      <h3 id="question-3">Describe one instance in which I admitted to someone that I was wrong—how did I feel afterwards?
      </h3>
      <textarea form="question-form" id="question-3-textarea" name="answer3" cols="50" rows="6" placeholder=""></textarea>
      <input type="hidden" name="question3" value="Describe one instance in which I admitted to someone that I was wrong—how did I feel afterwards?">
      <div class="past-answers">
        <h4>Previous Entries</h4>
        <% rows.forEach(function (row) { %>
            <% if (row.answer3 === '') { %>
                <p></p>
            <% } else { %>
                <p><%= row.timestamp %>: <%= row.answer3 %></p>
            <% } %>
          <% }) %>
      </div>
      <p class="next-question">next question</p>
    </div>

    <div class="question">
      <h3>Do you have an additional thought about the topic that was not addressed by one of the prompts?</h3>
      <textarea name="random_thought" id="random-textarea" cols="80" rows="6" placeholder="The perfect place for a random thought!"></textarea>
    <div class="past-answers" id="random-answer">
      <h4>Previous Entries</h4>
      <% rows.forEach(function (row) { %>
        <% if (!row.random) { %>
          <% console.log('nothing'); %>
          <% } else { %>
        <p><%= row.timestamp %>: <%= row.random %></p>
        <% } %>
      <% }) %>
    </div>
    </div>
    <br>
    <input id="learning-submit-button" type="submit" value="Submit Answers">

  </form>

  <script src="/javascript/learning.js"></script>
</body>
</html>