<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Past Answers</title>
</head>
<body>
  <header><a href="/cbt">Home</a> | <a href="/users/<%= username %>/">User Dashboard</a> | <a href="/logout">Logout</a>
  </header>

  <h1>Your past responses</h1>
  <% if (data === undefined) { %> 
    <h3>You haven't submitted answers yet.</h3> 
  <%} else {%>
    <h3><%= data[0].question1 %> </h3>
    <% for (var j = 0; j < data.length; j++) { %>
        <%= data[j].answer1 %> <br><br>
    <% } %>

    <br><br>

    
      <h3><%= data[0].question2 %> </h3>
      <% for (var j = 0; j < data.length; j++) { %>
          <%= data[j].answer2 %> <br><br>
    <% } %>

    <br><br>

      <h3><%= data[0].question3 %> </h3>
      <% for (var j = 0; j < data.length; j++) { %>
          <%= data[j].answer3 %> <br><br>
    <% } %>
    <%}%>
</body>
</html>