<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users Home</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Raleway|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
  <link rel="stylesheet" type="text/css" href="/styles/users_home.css"></link>
</head>
<body>
  <header>
    <data id="username" style="display: none;"><%= username %></data>
    <a href="/cbt">Home</a> | <a href="/users/<%= username %>/">User Dashboard</a> | 
    <a href="/users/<%= username %>/learning/show">Past Answers</a> | 
    <a href="/logout">Logout</a>
  </header>
  <div class="past-answers">
    <form action="/users/<%= username %>/past" method="POST">
      <p>View your past entries.</p>
      <select name="values" id="dropdown">
        <option value="learning">Love of Learning</option>
        <option value="humility">Humility</option>
        <option value="openness">Openness</option>
        <option value="tolerance">Tolerance</option>
        <option value="generosity">Generosity</option>
        <option value="autonomy">Autonomy</option>
        <option value="honesty">Honesty</option>
      </select>
      <input type="submit">
    </form>
  </div>
  <div class="container">
    <h1>Welcome, <%= name %>!</h1>
    <h3>Below are the seven behavioral traits that we have chosen to focus on. <br>Pick one to start answering questions and building your history.
    </h3>
  </div>

  <div class="phil-card hvr-grow">
    <a href="/users/<%= username %>/learning">
      <img src="http://www.tripwire.com/state-of-security/wp-content/uploads/security31.jpg">
    </a>
    <div class="phil-card-content">
      <a href="">Love of Learning</a>
    </div>
  </div>
  <div class="phil-card hvr-grow">
    <a href="/users/<%= username %>/humility">
      <img src="http://steveberger.gracechapel.net/wp-content/uploads/2013/04/humility_serving_helping.jpg">
    </a>
    <div class="phil-card-content">
      <a href="/users/<%= username %>/humility">Humility</a>
    </div>
  </div>
  <div class="phil-card hvr-grow">
    <a href="/users/<%= username %>/openness">
      <img src="http://blogs.scientificamerican.com/beautiful-minds/files/2013/11/openness.jpg">
    </a>
    <div class="phil-card-content">
      <a href="/users/<%= username %>/openness">Openness</a>
    </div>
  </div>
  <div class="phil-card hvr-grow">
    <a href="/users/<%= username %>/tolerance">
      <img src="http://www.scarymommy.com/wp-content/uploads/2014/03/Tolerance.png">
    </a>
    <div class="phil-card-content">
      <a href="/users/<%= username %>/tolerance">Tolerance</a>
    </div>
  </div>
  <div class="phil-card hvr-grow">
    <a href="/users/<%= username %>/generosity">
      <img src="http://brinkleywarren.com/wp-content/uploads/2014/04/generosity.jpg">
    </a>
    <div class="phil-card-content">
      <a href="/users/<%= username %>/generosity">Generosity</a>
    </div>
  </div>
  <div class="phil-card hvr-grow">
    <a href="/users/<%= username %>/autonomy">
      <img src="https://i.ytimg.com/vi/vYFEa-hq9zI/maxresdefault.jpg">
    </a>
    <div class="phil-card-content">
      <a href="/users/<%= username %>/autonomy">Autonomy</a>
    </div>
  </div>
  <div class="phil-card hvr-grow">
    <a href="/users/<%= username %>/honesty">
      <img src="http://www.thelivingyogablog.com/wp-content/uploads/2013/11/Purity.jpg">
    </a>
    <div class="phil-card-content">
      <a href="/users/<%= username %>/honesty">Honesty</a>
    </div>
  </div>













</body>
</html>